*{
    box-sizing:border-box;
    font-family:sans-serif;
  }
  body{
    margin:0;padding:0;
  }
  
  /*Header Section*/
  #header{
    position:fixed;
    z-index:1;
    background-color:white;
  }
  #header-img{
    width:49vw;
    height:52px;
    object-fit:contain;
  }
  #nav-bar{
    width:48vw;
    float:right;
  }
  #nav-bar ul{
   display:flex;
   flex-wrap:wrap;
   align-items:center;
   justify-content:space-between;
   list-style:none;
  }
  #nav-bar ul li a{
    text-decoration:none;
    color:black;
  }
  /*main section*/
  main{
    padding-top:45px;
  }
  /*form section*/
  .form-section{
    text-align:center;
  }
  .form-heading{margin-bottom:10px;
  }
  
  input[type="email"]{
    margin-bottom:10px;
  }
  input[type="submit"]{
    background-color:rgb(225, 215, 34);
    font-weight:800;
  }
  input[type="submit"]:hover{
    background-color:rgb(250, 225, 34);
    cursor:pointer;
  }
  /*Features Section*/
  #Features{
    max-width:800px;
    margin:100px auto 50px;
  }
  #Features h1,p{
   margin:0;
  }
  #Features p{
   margin-bottom:50px;
  }
  /*How it Works Section*/
  #How_it_Works{
    max-width:500px;
    margin:50px auto 50px;
  }
  iframe{
    width:450px;
    height:250px;
  }
  /*Pricing Section*/
  #Pricing{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    max-width:750px;
    margin:0 auto 50px;
    column-gap:20px;
  }
  #Pricing div{
    border:1px solid black;
    text-align:center;
    width:250px;
  }
  h4{
    margin:0;
    padding:15px 0;
    background-color:lightgray;
  }
  #Pricing p{
    margin-bottom:10px;
  }
  #Pricing input{
    background-color:rgb(225,225,34);
    margin:10px 0;
  }
  #Pricing input:hover{
    background-color:rgb(250,225,34);
    cursor:pointer;
  }
  /*Footer*/
  footer{
    background-color:lightgray;
    display:flex;
    flex-wrap:wrap;
    max-width:75%;
    margin:0 auto;
    padding:18px;
  }
  .empty-div{
    width:75%;
  }
  .PTC{
    width:25%;
    display:flex;justify-content:space-evenly;
  }
  .PTC p{
    margin-bottom:5px;
  }
  .empty-div2{
    width:60%;
  }
  .copyright{
    width:39%;
    text-align:right;
  }
  @media only screen and (min-width:561px) and (max-width: 751px){
    #Pricing{
      display:grid;
      grid-template-columns:repeat(2,1fr);
      column-gap:0;
      place-items:center;
      row-gap:20px;
    }
  
    .empty-div{
      width:60%;
    }
    .PTC{
      width:40%;
      justify-content:space-between;
    }
  }
  @media only screen and (max-width:560px){
    #header-img{
    margin-left:30px;
    width:80vw;
    height:60px;
  }
  #nav-bar{
    width:100vw;
  }
  #nav-bar ul{
   display:flex;
   align-items:center;
   justify-content:space-between;
  }
    main{
      padding-top:100px;
    }
    #How_it_Works{
    max-width:300px;
    margin:50px auto 50px;
  }
  iframe{
    width:300px;
    height:190px;
  }
  #Pricing{
      display:grid;
      grid-template-columns:1fr;
      row-gap:20px;
      place-items:center;
    }
    .empty-div{
      width:20%;
    }
    .PTC{
      width:80%;
      justify-content:space-between;
    }
  }
  